
@{
    ViewData["Title"] = "AboutMe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>AboutMe</h1>

<p>Stuff About Me, Isaac Cruz</p>
<ol>
    <li>I am 18 Years Old</li>
    <li>I Only have 1 Brother</li>
    <li>I have green Eyes</li>
    <li>I graduated in 2023</li>
    <li>I am going for my IT asscoaiates degree</li>
    <li>I dont plan on transfering after West Hills</li>
    <li>I enjoy working on computers when I have the chance</li>
    <li>I used to live in La since I was 8 but then moved to lemoore ever since</li>
    <li>I havent gotten my first job yet</li>
    <li>I lived in apartments my whole life</li>
</ol>
