
@{
    ViewData["Title"] = "Hobbies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Hobbies</h1>

<p>These are a few Hobbies I have</p>
<ul>
    <li>Gym</li>
    <li>Building Computers</li>
    <li>Hiking</li>
    <li>Collecting PLaying cards</li>
    <li>Cooking Food</li>
    <li>Video Games</li>
</ul>

